

<p class="text-center mt-16">
  Feito com <span><img class="inline" src="/heart.svg" alt=""></span> pela Rocketseat
</p>
<p class="text-center mb-12">develop by <a class=" transition-color hover:text-acentPurple font-semibold" href="https://ofs.dev.br">Emmanuel Oliveira</a></p>